{% extends 'base.html' %}
{% block title %}
  <title>Профиль</title>
  {% endblock %}

{% block main %}
  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Профиль</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('main')}}">Главная</a></li>
          <li class="breadcrumb-item active">Профиль</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">
          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
              <img src="static/assets/img/{{ username }}.jpg" alt="Profile" class="rounded-circle">
              <h2>{{manager_name}}</h2>
              <h3>{{manager_info.1}}</h3>
              <div class="social-links mt-2">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-8">
          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Обзор</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Изменить профиль</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">Обо мне</h5>
                  <p class="small fst-italic">Развиваюсь в сфере IT, разрабатываю приложение для малого бизнеса, которое решает повседневные задачи работы с клиентами и заказами. Для каждого менеджера выводится именно его статистика по заказам и суммам.</p>

                  <h5 class="card-title">Детали профиля</h5>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Ф.И.О</div>
                    <div class="col-lg-9 col-md-8">{{manager_info.0}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Должность</div>
                    <div class="col-lg-9 col-md-8">{{manager_info.1}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Город</div>
                    <div class="col-lg-9 col-md-8">{{manager_info.2}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Телефон</div>
                    <div class="col-lg-9 col-md-8">{{manager_info.3}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Почта</div>
                    <div class="col-lg-9 col-md-8">{{manager_info.4}}</div>
                  </div>

                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form>
                    <div class="row mb-3">
                      <label for="profile-edit" class="col-md-4 col-lg-3 col-form-label">Фото профиля</label>
                      <div class="col-md-8 col-lg-9">
                        <img src="static/assets/img/{{ username }}.jpg" alt="Profile">
                        <div class="pt-2">
                          <a href="#" class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></a>
                          <a href="#" class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Ф.И.О</label>
                      <div class="col-md-8 col-lg-9">
<!--                        <input name="fullName" type="text" class="form-control" id="fullName" value={{short_name}}>-->
                        <textarea name="fullName" class="form-control" id="fullName" style="height: 40px">{{manager_info.0}}</textarea>

                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="About" class="col-md-4 col-lg-3 col-form-label">Обо мне</label>
                      <div class="col-md-8 col-lg-9">
                        <textarea name="about" class="form-control" id="about" style="height: 100px">Развиваюсь в сфере IT, разрабатываю приложение для малого бизнеса, которое решает повседневные задачи работы с клиентами и заказами. Для каждого менеджера выводится именно его статистика по заказам и суммам.</textarea>
                      </div>
                    </div>


                    <div class="row mb-3">
                      <label for="Job" class="col-md-4 col-lg-3 col-form-label">Должность</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="job" type="text" class="form-control" id="Job" value={{manager_info.1}}>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Address" class="col-md-4 col-lg-3 col-form-label">Город</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="address" type="text" class="form-control" id="Address" value={{manager_info.2}}>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Телефон</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="phone" type="text" class="form-control" id="Phone" value={{manager_info.3}}>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">Почта</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="email" type="email" class="form-control" id="Email" value={{manager_info.4}}>
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>
              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}