<!DOCTYPE html>
<html>
<head>
  <title>Заявки</title>
  <link rel="stylesheet" type="text/css" href="static/main.css">
</head>
<body>
  <div class="header">
    <button type="submit">Добавить заявку</button>
  </div>
  <div class="container">
    <table>
      <thead>
        <tr>
          <th>Номер заказа</th>
          <th>Статус</th>
          <th>Клиент</th>
          <th>Дата</th>
          <th>Сумма</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr>
          <td>{{ order.id }}</td>
          <td>{{ order.status }}</td>
          <td>{{ order.customer }}</td>
          <td>{{ order.dates }}</td>
          <td>{{ order.income }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>
